/*sidebar*/
body{
	background-image:url("admin/images/gamepad.jpg");
}

#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 250px;
	height: 100%;
	overflow-y: hidden;/*y index er content jate baire ber hoye na ashe*/
	background: #2C3E50;
	border: 2px solid red;
	opacity: 1;
}

/*Main Content*/

#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding-left: 250px;
}

/*change the width of the sidebar to display*/
#wrapper.menuDisplayed #sidebar-wrapper{
	width: 0px; /*button click korle menu asbe*/
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 0px; /*ar main content 250px side e chepe jabe*/
}

/*sidebar styling*/
.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover{
	background: #16A085;
}

/*normal design*/
h1{
	border: 3px solid green;
	display:inline;
}

.profileShow{
	margin: 100px 100px 100px 100px;
	border:2px solid red;
}
