body{
	background-image:url("images/gamepad.jpg");
}

.wrapper{
	/*top right bottom left*/
	margin:100px 100px 0px 100px;
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:1em;
	font-size:30px;
	text-align:center;
}

.wrapper>div{
	
	background:#eee;
	padding:1em;

}

.wrapper>div:nth-child(odd){
	

}

.gameView{
	background:#eee;
	padding:5em;
}


h1{
	color:white;
}

.addGameContent{
	font-size:20px;
	color:white;

	margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 50px 50px 50px 300px;
}

#table1{
    border-collapse: separate;
    border-spacing: 15px 20px; /*the first sets the horizontal spacing and the second sets the vertical spacing*/
}

.userList{
	/*top right bottom left*/
	margin:100px 100px 0px 100px;
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:1em;
	font-size:20px;
	text-align:center;
}


